:root {
  --primary-color: #6c63ff;
  --secondary-color: #fff;
  --primary-background-color: #6c63ff;
  --secondary-background-color: #fff;
  --box-shadow: 0 5px 10px #0000004d;
  --border-radius: 4px;
}
body {
  max-width: 100%;
  margin: 60px auto;
}
.top-section {
  text-align: center;
}
header {
  font-size: 48px;
}
h1 {
  font-size: 96px;
  margin: 0;
}
h2 {
  text-align: left;
  font-size: 44px;
}
h3 {
  font-size: 24px;
  margin: 0;
  opacity: 0.7;
}
p {
  text-align: justify;
  font-size: 18px;
  line-height: 1.5;
}
section {
  font-size: 48px;
  margin: 0;
  text-align: center;
}
a {
  color: var(--primary-color);
}
button a {
  text-decoration: none;
}
img {
  height: 400px;
  object-fit: scale-down;
}
.e-mail-link {
  font-size: 28px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.e-mail-link:hover {
  text-decoration: underline;
}
.about-me-page {
  text-align: center;
}
.about-me-p {
  margin: 30px 60px;
}
.contact-btn,
.about-btn,
.launch-btn {
  margin: 20px;
  border-radius: var(--border-radius);
  padding: 20px 15px;
  border: 1px solid #6c63ff;
}
.buttons {
  margin-top: 40px;
}
.contact-btn,
.launch-btn {
  background-color: var(--primary-background-color);
  box-shadow: var(--box-shadow);
  color: var(--secondary-color);
}
.about-btn {
  background-color: var(--secondary-background-color);
}
.contact-link,
.launch-btn-link {
  color: var(--secondary-color);
}
.about-link {
  color: var(--primary-color);
}
.contact-link:hover,
.launch-btn:hover {
  color: darkblue;
}
.project-section {
  margin-top: 120px;
}
@media (max-width: 450px) {
  header {
    font-size: 34px;
  }
  h1 {
    font-size: 54px;
  }
  h3 {
    font-size: 20px;
  }
  .launch-btn {
    width: 100%;
    text-align: center;
  }
  .about-me-p {
    margin: 30px 10px;
    text-align: center;
  }
}
